/* Configuração Base para as Fontes aumentarem via JS */
html {
    font-size: 16px;
    transition: font-size 0.3s;
}

/* O corpo da Loja */
body {
    background-color: #f8f9fa; /* Um cinza bem clarinho */
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

/* Classe de Alto Contraste (Fundo Escuro, Letra Clara) */
body.alto-contraste {
    background-color: #121212 !important;
    color: #ffffff !important;
}

body.alto-contraste .navbar {
    background-color: #000000 !important;
}

body.alto-contraste .form-control {
    background-color: #333;
    color: #fff;
    border-color: #555;
}

body.alto-contraste label {
    color: #fff;
}

/* Placeholder no modo de alto contraste */
body.alto-contraste ::placeholder {
    color: #999;
    opacity: 1;
}
.dropdown-menu {
    background-color: #03025a;
}
.dropdown-item {
    color: #fff;
}
.dropdown-item:hover {
    background-color: #ffde21;
}